streamlit
python-dotenv
youtube-transcript-api
fpdf
streamlit-player
langchain
langchain-google-genai
langchain-openai
langchain-community
faiss-cpu
requests
pyperclip
google-generativeai
openai
